/**
 * Estilização do app
 */

// Arquivos de configuração
@import 'config/colors';
@import 'config/sizes';
@import 'config/typography';
@import 'config/classes';

// Mixins e propriedades
@import 'tools/*';

// Base do site
@import 'base/*';

// Classes auxiliares
@import 'reset';
@import 'grid';

// Componentes
@import '../parts/**/*';
@import '../components/**/*';