/**
 * Estilização base
 */
 
* {
	box-sizing: border-box;
}
 
body {
	font-family: $open-sans;
	font-size: $font-size;
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale;
	line-height: $font-size + 8;
	color: $color;
	background-color: $background;
}

::selection {
	background: $base;
	color: #fff;
}